@keyframes fadeon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleon {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    animation: fadeon 0.3s ease 0s;
    > * {
      width: 100%;
      max-width: 480px;
      margin: auto;
      animation: scaleon 0.25s ease-out 0s;
    }
  }

  .panel {
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
    // border-radius: var(--radius);
    overflow: hidden;
    > header{
       padding: 0 var(--screen-padding);
      }
    > div{
      margin: 0 var(--screen-padding/2);
      padding: var(--screen-padding);
      border-radius: var(--radius/2);
      box-shadow: var(--shadow-inset);
      // background-color: darken(var(--bg-color), 3);
    }
    > footer {
      display: grid;
      gap: var(--screen-padding/2);
      padding: var(--screen-padding/2);
      button{
        font-weight: 700;
        padding: 2rem;
        &[type="button"]{
          color: var(--alert-color);
          background-color: var(--bg-color);
          &:hover{
            background-color: var(--alert-color);
            color:#fff;
          }
        }
      }
  }
}