:root {
  --bg-def: #f0f0f0;
  --color1-def: #2F1DFF;
  --bg-tag: #D0D0D0;

  --screen-padding: 30px;
  --radius: 30px;

  --accent-color: #1CA1F7;
  --alert-color: #EC3481;
  --text-color: #263656;
  --bg-color: #F1F3F6;
  --border-color: #E0E6E9;
  --highlight-color: #F6F9Fc;
  --shadow-color: rgba(32, 64, 128, 0.20);
  --shadow: -1.5px -1.5px 2px rgba(255,255,255,0.95), 1px 1px 3px --shadow-color;
  --shadow-wide: -5px -5px 8px rgba(255,255,255,1), 5px 5px 10px --shadow-color;
  --shadow-inset: -1.5px -1.5px 3px rgba(255,255,255,0.95) inset, 1px 1px 4px --shadow-color inset;
  --shadow-text: 1px 1px 1px rgba(255,255,255,0.95);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-def);
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", "游ゴシック体", "YuGothic", "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "MS ゴシック", "sans-seif";
  color: var(--color1-def);
  scrollbar-width: none;
  -webkit-tap-highlight-color:transparent;
}

/* adobefont対応のため */
html {
  visibility: hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
html.wf-active {
  visibility: visible;
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3 {
  color: inherit;
  font-weight: 600!important;
  line-height: 1.25;
  margin-top: 0px!important;
  margin-bottom: 0.5rem!important;
}

p {
  color: inherit;
  font-weight: 200!important;
  line-height: 2.25rem;
  margin-top: 0px!important;
  margin-bottom: 1rem!important;
  font-size: 1.125rem;
}
h1{
  font-size:2.25rem!important;
}
h2{
  font-size: 1.9rem!important;
}
h3{
  font-size: 1.5rem!important;
}

@media screen and (min-width: 768px) {
  
p {
  color: inherit;
  font-weight: 200!important;
  line-height: 3.15rem;
  margin-top: 0px!important;
  margin-bottom: 1.3rem!important;
  font-size: 1.4rem;
}
}

/* h1 {
  @apply font-semibold leading-tight text-4xl mt-0 mb-2;
}
h2 {
  @apply font-semibold leading-tight text-3xl mt-0 mb-2;
}
h3 {
  @apply font-semibold leading-tight text-2xl mt-0 mb-2;
}
p {
  @apply font-light leading-relaxed text-base mt-0 mb-4;
} */

select, input, textarea {
  color: var(--color1-def);
  background-color: transparent;
  border: 1px solid var(--color1-def);
  border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}
input:focus, select:focus, textarea:focus{
  outline:none;
  color: var(--color1-def);
  background-color: transparent;
 }
 input:-webkit-autofill{
	box-shadow: 0 0 0px 1000px var(--color1-def) inset;
  -webkit-text-fill-color: #fff !important;
}

.tag{
  background-color: var(--bg-def);
  padding: 0.25rem 0.5rem;
  width:fit-content;
  border: 1px solid;
  margin-right: 0.75rem;
  line-height: 2.75rem;
}

.bg-def{
  background-color: var(--bg-def);
}
.bg-def2{
  background-color: var(--color1-def);
}
/* .completeform{
	box-shadow: 0 0 0px 1000px var(--color1-def) inset;
  color: #fff !important;
} */

.color-def{
  color:var(--color1-def);
}

/* 問い合わせフォームのプレースホルダ */
::placeholder, ::-webkit-input-placeholder {
  color: var(--color1-def)!important;-webkit-appearance: none;
}
input:focus::-webkit-input-placeholder { color: transparent !important;; }
input:focus:-moz-placeholder { color:transparent!important; }
input:focus::-moz-placeholder { color:transparent!important; }

:placeholder-shown{
	box-shadow: 0 0 0px 1000px #FFF inset;
}
.form-item input:valid, .form-item textarea:valid{
  background-color:var(--color1-def);
  color: #fff !important;
}
::-webkit-scrollbar{
  display:none;
}

/* セレクトのUI */
.formValid{
  background-color:var(--color1-def)!important;
  color: #fff !important;
}
/* セレクトボックスの矢印デザイン変更 */
.selectBox::before {
  border-bottom: 4.5px solid var(--color1-def);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  right: 1rem;
  top:.75rem;
  width: 0;
}
.selectBox::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4.5px solid var(--color1-def);
  content: "";
  position: absolute;
  right:1rem;
  bottom:.75rem;
  width: 0;
}
.selectBox{
  position: relative;
}

/* 特殊フォント */
.futura{
  font-family: 'futura-pt', sans-serif;
}
.avenir{
  font-family: 'Avenir', sans-serif;
}

